body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
}

#screen canvas{
    margin: 0 auto;
    cursor:pointer;
}

#loading{
    position: absolute;
    font-family: "Verdana";
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    top: 50%;
  }